.help-h1 {color : #000080; font-family :  Verdana, Arial, Helvetica, 
sans-serif; font-size : 14pt; font-weight: bold; font-style: bold; margin-top: 15px; margin-bottom: 15px;}

.help-h2 {color : #000080; font-family :  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12pt; font-weight: bold; font-style: bold;  margin-top: 15px; margin-bottom: 15px;}

.help-h3 {color : #000080; font-family :  Verdana, Arial, Helvetica, 
sans-serif; font-size : 10pt; font-weight: bold; font-style: bold; margin-top: 15px; margin-bottom: 15px;}

.help-h4 {color : #000080; font-family :  Verdana, Arial, Helvetica, 
sans-serif; font-size : 9pt; font-weight: bold; font-style: italic; margin-top: 15px; margin-bottom: 15px;}

.help-text-normal {color : #000000; font-family :  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; font-style: normal; margin-top: 15px; margin-bottom: 15px;} 

.help-text-underlined { margin-top: 15px; margin-bottom: 15px; text-decoration: underline;}

.help-text-bold {color : #000000; font-family :  Verdana, Arial, 
Helvetica, sans-serif; font-size : 12px; font-weight: bold; margin-top: 15px; margin-bottom: 15px;}

.help-text-italic {color : #000000; font-family :  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; font-style: italic; margin-top: 15px; margin-bottom: 15px;}

.help-text-blue {color :  #000080; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; font-weight: bold; margin-top: 15px; margin-bottom: 15px;}

.help-text-blue-underlined {color :  #000080; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; margin-top: 15px; margin-bottom: 15px;
text-decoration: underline;}

.help-text-red {color : #ff0000; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; margin-top: 15px; margin-bottom: 15px;} 

.help-text-red-bold {color : #ff0000; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px;  font-weight: bold; margin-top: 15px; margin-bottom: 15px;} 

.help-text-caution {color : #ff0000; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; font-weight: bold; margin-top: 10px; margin-bottom: 10px;} 

.help-text-highlight {color : #ffffff; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px;  font-style: normal; background-color: #4169E1; 
margin-top: 15px; margin-bottom: 15px;} 

.help-text-command {color : #000000; font-family :  courier new; font-size: 15.5px; 
font-style: normal; margin-top: 15px; margin-bottom: 15px;} 

.help-text-command-indent {color : #000000; font-family :  courier new; font-size: 15.5px; 
font-style: normal; margin-top: 15px; margin-bottom: 15px; margin-left: 16px;}

.help-tip {color : #000000; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; font-weight: bold; background-color: #D3D3D3;
margin-top: 15px; margin-bottom: 15px;} 

.help-tip-text {color : #000000; font-family:  Verdana, Arial, Helvetica, 
sans-serif; font-size : 12px; font-weight: normal; font-style: normal; 
background-color: #D3D3D3; margin-top: 15px; margin-bottom: 15px;} 

.help-list-ol-1 {list-style: decimal; list-style-position: outside; color : #000000; font-family :  Verdana, Arial, 
Helvetica, sans-serif; font-size : 12px; font-style: normal; margin-top: 10px; margin-bottom: 10px;}

.help-list-ol-2 {list-style: lower-alpha; list-style-position: outside; color : #000000; font-family :  Verdana, 
Arial, Helvetica, sans-serif; font-size : 12px; font-style: normal; margin-top: 10px; margin-bottom: 10px;
margin-left: -16px; }

.help-list-ul-1 {list-style: disc; list-style-position: outside; color : #000000; font-family :  Verdana, 
Arial, Helvetica, sans-serif; font-size : 12px; font-style: normal; margin-top: 10px; margin-bottom: 10px;}

.help-list-ul-2 {list-style: circle; list-style-position: outside; color : #000000; font-family :  Verdana, 
Arial, Helvetica, sans-serif; font-size : 12px; font-style: normal; margin-top: 10px; margin-bottom: 10px; 
margin-left: -25px;}

.help-list-dt {list-style: decimal; list-style-position: outside; color : #000000; font-family :  Verdana, Arial, 
Helvetica, sans-serif; font-size : 12px; font-weight: bold; font-style: normal; 
margin-top: 5px; margin-bottom: 5px; margin-left: 20px;}

.help-list-dd {list-style: decimal; list-style-position: outside; color : #000000; font-family :  Verdana, Arial, 
Helvetica, sans-serif; font-size : 12px; font-style: normal; margin-top: 
5px; margin-bottom: 5px; margin-left: 30px;}

.help-file-table {width: 540;}

.help-file-body {background-color: FFFFFF;}

